* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cecece;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: #7c9ab7;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #b7625c;
}

.Text {
    background: #ee6585;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2em;
    border-radius: 4px;
    animation: rotateRGB 1s linear infinite;
}

.Text::selection {
    color: white;
    background:rgb(238, 99, 131);
}

form {
    display: flex;
    gap: 1em;
    overflow: hidden;
}

@keyframes rotateRGB {
    0% {
        filter: hue-rotate(0);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}